<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/layui.css}" rel="stylesheet" type="text/css"></link>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<form class="layui-form" th:action="@{/auto/corp/org_emp/bind/config}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">分贝通公司ID</label>
        <div class="layui-input-block">
            <input type="text" name="companyId" required lay-verify="required" placeholder="请输入内容" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分贝通部门ID</label>
        <div class="layui-input-block">
            <input type="text" name="fbtOrgId"  placeholder="请输入内容" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分贝通人员ID</label>
        <div class="layui-input-block">
            <input type="text" name="fbtEmpId"  placeholder="请输入内容" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">第三方部门ID</label>
        <div class="layui-input-block">
            <input type="text" name="thirdOrgId" placeholder="请输入内容" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">第三方人员ID</label>
        <div class="layui-input-block">
            <input type="text" name="thirdEmpId"  placeholder="请输入内容" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分贝通手机号</label>
        <div class="layui-input-block">
            <input type="text" name="mobilePhone"  placeholder="请输入内容" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">绑定部门类型</label>
        <div class="layui-input-block">
            <select name="type">
                <option value="1">默认值</option>
                <option value="1">部门ID</option>
                <option value="2">部门全路径</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="autoCompOrgEmpBindConfig">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(autoCompOrgEmpBindConfig)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>

<script type="text/javascript" th:src="@{/layui.js}"></script>
<script type="text/javascript" th:src="@{/layui.all.js}"></script>
</body>
</html>